@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(240, 10%, 3.9%);
  --foreground: hsl(0, 0%, 96%);
  --card: hsl(240, 10%, 3.9%);
  --card-foreground: hsl(0, 0%, 96%);
  --popover: hsl(240, 10%, 3.9%);
  --popover-foreground: hsl(0, 0%, 96%);
  --primary: hsl(262, 83%, 58%);
  --primary-foreground: hsl(210, 20%, 98%);
  --secondary: hsl(240, 3.7%, 15.9%);
  --secondary-foreground: hsl(0, 0%, 96%);
  --muted: hsl(240, 3.7%, 15.9%);
  --muted-foreground: hsl(240, 5%, 64.9%);
  --accent: hsl(24, 95%, 53%);
  --accent-foreground: hsl(60, 9.1%, 97.8%);
  --destructive: hsl(0, 85%, 60%);
  --destructive-foreground: hsl(0, 0%, 98%);
  --border: hsl(240, 3.7%, 15.9%);
  --input: hsl(240, 3.7%, 15.9%);
  --ring: hsl(262, 83%, 58%);
  --radius: 1.3rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
